{
	"env": {
		"es2020": true,
		"browser": true,
		"node": true,
		"mongo": true
				
	},
	"parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "script",
        "ecmaFeatures": {
			"jsx": true
		}
    },

	"extends": [
		"plugin:prettier/recommended"
	],

	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error"
	}
}